<!DOCTYPE html>

<html lang="en">
<head>
{% load staticfiles %}
 <link rel="stylesheet" href="{% static 'style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    {% block title %}
    <title>Skrzynka kontaktowa</title>
    {% endblock %}
</head>
<body>
<div class="header">


        <div class="header-title">Skrzynka kontaktowa</div>
     <div>
                <a href="{% url 'search' %}">Szukaj</a>

        <a href="{% url 'showall' %}">Osoby</a>
        <a href="{% url 'addperson' %}">Dodaj osobę</a>
        <a href="{% url 'groups' %}">Grupy</a>
        <a href="{% url 'addgroup' %}">Dodaj grupę</a>
    </div>
</div>

        {% block content %}


        {% endblock %}
</body>
</html>