{% extends "base.html" %}

{% block content %}

<p>EDYTUJ DANE OSOBY</p>
    <form class="form" method="POST">{% csrf_token %}
        <label>Imię: </label>
        <input name="first_name" type="text" value="{{person.first_name}}">
        <label>Nazwisko: </label>
        <input name="last_name" type="text" value="{{person.last_name}}">
        <label>Opis: </label>
        <textarea name="description" type="text">{{person.description}}</textarea>
        <label><input type="submit" name="send" value="Zmień"></label>
    </form>

{% endblock %}