{% extends "base.html" %}

{% block content %}

<div>{{ group.name }}</div>

    <br>
    <table>
    <tr><th>lp</th><th>Imię</th><th>Nazwisko</th><th>Szczegóły</th><th>Usuwanie</th></tr>

    {% for p in person %}
		<tr><td>{{ forloop.counter }}</td>
			<td>{{ p.first_name }}</td>
			<td>{{ p.last_name }}</td>
            <td class="link"><a href="/details/{{p.id}}">Pokaż</a></td>
			<td class="link"><a href="/deletefrom/{{p.id}}/{{ group.id }}">Usuń</a></td>
		</tr>
{% endfor %}
</table>
    <br>
    <form class="form" method="POST">{% csrf_token %}
    <div>Dodaj osobę do grupy:
    <select name="people-list">
        {% for p in people %}
        <option value="{{p.id}}">{{ p.first_name }} {{ p.last_name }}</option>
        {% endfor %}
    </select>
    <label><input type="submit" name="send" value="Dodaj"></label>
    </div>
    </form>

{% endblock %}
