{% extends "base.html" %}

{% block content %}

<p>MOJE KONTAKTY</p>
<div class="background">
    <table>
    <tr><th>lp</th><th>Imię</th><th>Nazwisko</th><th>Opis</th><th>Edycja</th><th>Usuwanie</th></tr>

    {% for p in person %}
		<tr><td>{{ forloop.counter }}</td>
			<td class="link"><a href="/details/{{p.id}}">{{ p.first_name }}</td>
			<td>{{ p.last_name }}</td>
			<td>{{ p.description }} </td>
            <td class="link"><a href="/editperson/{{p.id}}">Edytuj</a></td>
			<td class="link"><a href="/deleteperson/{{p.id}}">Usuń</a></td>
		</tr>
{% endfor %}
</table>
    </div>

{% endblock %}
